* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.space-background {
    position: relative;
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle, #000010, #000005, #000);
    overflow: hidden;
    z-index: 1;
}

.space-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    pointer-events: none;
    z-index: 3;
}

#stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none;
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: glimmer 5s infinite alternate ease-in-out;
}

@keyframes glimmer {
    0% {
        opacity: 0.6;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1.2);
    }
}

#quote-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 4;
}

#quote-display {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.5rem;
    color: white;
    padding: 1em;
    border: 0.1em solid white;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#quote-display p {
    margin-bottom: 0;
}

#quote-display h6 {
    font-size: 1.5em;
    margin-top: 0;
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
    z-index: 5;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.nav a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transition:
        background 0.3s,
        transform 0.3s;
}

.nav a:hover {
    background: rgba(255, 255, 255, 0.4);
    transform: scale(1.1);
}

.nav-icon {
    width: 1em;
    height: auto;
}

header{
    position: relative;
    z-index: 6;
}